name: Deploy Next.js Docker App

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          # yamllint disable-line rule:comments
          username: ${{ secrets.DOCKER_USERNAME }}
          # yamllint disable-line rule:comments
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t my-next-app .

      - name: Push Docker image
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
          docker tag my-next-app ${DOCKER_USERNAME}/my-next-app:latest
          docker push ${DOCKER_USERNAME}/my-next-app:latest
